# Database Config
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=crab_db

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Config
JWT_SECRET=super_secret_key_for_development
JWT_EXPIRES_IN=1d

# OSRM
OSRM_URL=http://localhost:5000

# App
PORT=3000
NODE_ENV=development

# Admin User Seed
ADMIN_EMAIL=admin@crab.com
ADMIN_PASSWORD=adminpassword
